#logo{
    width:50%;
    max-width: 125px;
}

.spartan{
    font-family: 'Spartan';
}
.montserrat{
    font-family: 'Montserrat';
}
hr{
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
#photo{
    width: 500px;
    max-width: 90%;
}
body{
    font-family: Arial;
    font-size: 16px;
    width: 1000px;
    max-width:86%;
    margin:0 auto;
}
table{
    margin-inline-start: auto;
    margin-inline-end: auto;
    /* width: 800px; */
    max-width: 90%;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
td{
    text-align: -webkit-center;
    font-size: 14px;
    font-weight: 330;
    width:130px;
    max-width:25%;
}

h1{
    font-weight: 300;
    font-size: 24px;
    text-decoration: none;
    color:#111;
}

.example{
    display: inline-block;
    width:350px;
    max-width:40%;
}
.example img{
    width:200px;
    max-width:100%;
}
.example center{
    font-size:13px;
    width:50px;
}
.instructions{
    display: inline-block;
    width: 250px;
    max-width: 90%;
}
html {
  scroll-behavior: smooth;
}
#upButton{
    position: fixed;
    display: none;
    width: 18px;
    left: 0px;
    height: 100%;
    background-color: #f0f0f0;
}
#upButton:hover {
    background-color: #fafafa;
}
#upButton:hover img{
    opacity: 40%;
}
#upButton img{
    position: fixed;
    top: 3px;
    left: 1.5px;
    width: 16px;
    opacity: 20%;
}
/*-------------------------------------- scrollbar---------------------------------------- */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0f0f0; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #999; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444; 
}
/* -----------------------------------------quote---------------------------------- */
#quote{
    font-family: 'Noto Serif', serif;
    font-size:18px;
    padding:3px;
    padding-left:7px;
    border-left-width: 5px;
    border-left-color: rgba(46, 156, 247, 0.719)!important;
    border-left-style: solid;
    background-color: #e2f8f8!important;
}