@media (max-width:960px){
    nav{
        top:calc(100vh - 6rem);
        left:0;
        height:6rem;
        width:100vw;

        flex-direction: row;
        flex-wrap: nowrap;
        justify-content:center;
        align-items:center;
        gap:0;
    }
    .nav_item{
        flex-wrap: wrap;
        justify-content:center;
        align-items:center;
    }
    .break{
        flex-basis: 100%;
        height: .3rem;
    }
    .nav_item i{
        font-size: 2rem;
        margin:0;
    }

    main{
        height:calc(100vh - 6rem);
    }
    #camera_box{
        width:100vw;
        height:100%;
        border-radius:0;
    }
    #camera{
        height:100%;
        max-width:unset;
        max-height:100vh;
    }
}