@media (max-width:960px){
    html, body {margin: 0; height: 100%; overflow: hidden; font-size: 14px;}

    nav{
        top:unset;
        bottom:0;
        left:0;
        height:6rem;
        width:100vw;

        flex-direction: row;
        flex-wrap: nowrap;
        justify-content:center;
        align-items:center;
        gap:0;
    }
    .nav_item{
        height:6rem;
        flex-wrap: wrap;
        justify-content:center;
        align-items:center;
        align-content:center;
    }
    .break{
        flex-basis: 100%;
        height: 0.3rem;
    }
    .nav_item i{
        font-size: 2rem;
        margin:0;
    }

    main{
        height:calc(100vh - 6rem);
    }
    #camera_box{
        width:100vw;
        height:100%;
        border-radius:0;
    }
    #camera{
        position: relative;
        top:50%;
        left:50%;
        transform: translate3d(-50%, -50%, 0);
        height:100%;
        max-width:unset;
        max-height:100vh;
    }
}